/*!
Baby Jey CSS
*/

body, html {
    cursor: url(http://cur.cursors-4u.net/others/oth-2/oth172.cur), pointer;
}


body {
	font-family: Tahoma;
	background-color: #561E76;
	color: #FFADE0;
	margin-left: 10%;
	margin-right: 10%;

}


a {
	color: #FFADE0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li{
	display: inline;
	margin-right: 20px;
}

.about{
	font-style: italic;
	text-decoration: underline;

}

table {
	margin-right: auto;
	margin-left: auto;
	margin-top: 50px;

}

table a {
	font-weight: bold;
	font-style: italic;
	text-decoration: underline;
	color: #FFADE0;
}


.tablecell1 {
    width:200px;
    height:100px;
    /*background-image: url('../images/purplecircle.png');*/
    background-repeat:no-repeat;background-size:400px 100px;
}

.tablecell2 {
    width:200px;
    height:100px;
    /*background-image: url('../images/purplecircle.png');*/
    background-repeat:no-repeat;background-size:250px 180px;
}

.tablecell3 {
    width:200px;
    height:100px;
    /*background-image: url('../images/purplecircle.png');*/
    background-repeat:no-repeat;background-size:250px 180px;
}

.tablecell4 {
    width:200px;
    height:100px;
    /*background-image: url('../images/purplecircle.png');*/
    background-repeat:no-repeat;background-size:250px 180px;
}

.tablecell5 {
    width:200px;
    height:100px;
    /*background-image: url('../images/purplecircle.png');*/
    background-repeat:no-repeat;background-size:250px 180px;
}

.tablecell6 {
    width:200px;
    height:100px;
    /*background-image: url('../images/purplecircle.png');*/
    background-repeat:no-repeat;background-size:250px 180px;
}


.sitemaptable {
    border: 1px solid white;
    text-align: left;
    margin-bottom: 70px;
}

iframe{
	display: inline;
	float: left;
	margin-top: 50px;
	margin-bottom: 100px;
	width: 480px;
	height: 350px;
	padding: 15px;
}

.socialmedia{
	text-align: center;
	display: block;
	width: 90%;
	margin: 0 auto;
	margin-top: 60px;

}

.videos {
	text-align: center;
}

.concert-content {
	padding-top: 10%;
	padding-bottom: 30%;
	display: block;
	text-align: center;
}

.about-content {
	padding-top: 30px;
	padding-bottom: 10%;
	display: block;
	text-align: center;
}

.about-content img{
	width: 50%;
	margin-right:auto;
	margin-left: auto;
}

.contact-content {
	padding-top: 10%;
	padding-bottom: 10%;
}


.games-content iframe {
	margin-right: auto;
	margin-left: auto;
	display: block;

}

.site-content{
text-align: center;

}


footer{
	text-align: center;
	font-size: 10px;
	clear: both;
}
